@import "../../../data/styles.css";

.works-body {
	margin-bottom: 10px;
}

.work {
	display: flex;
	align-items: flex-start;
	padding-bottom: 30px;
}

.work-logo-link {
	flex-shrink: 0;
	margin-right: 18px;
}

.work-image {
	height: 38px;
	width: 38px;
	border-radius: 50%;
	outline: 6px solid white;
	box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.25);
}

.work-details {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.work-header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.work-title {
	font-size: 15px;
	font-weight: 700;
	color: var(--secondary-color);
}

.work-duration {
	font-size: 12px;
	color: var(--tertiary-color);
	white-space: nowrap;
	padding-left: 10px;
}

.work-subtitle {
	font-size: 12px;
	color: var(--secondary-color);
	margin-top: 3px;
}

.work-description {
	font-size: 12px;
	color: var(--secondary-color);
	margin-top: 8px;
	line-height: 1.7;
}
